<mat-card class="botCard " style=" background-color: #F1F8F8; ">
  <mat-grid-list cols="7" rowHeight="80px">
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <img src="/assets/Covid.png" style="width:150px; height:150px; border-radius: 50%;">
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="2">
      <mat-card style=" background-color: #F1F8F8; ">
        <mat-card-header>
          <mat-card-title>
            <a href="#">
              <strong> COVY</strong>
            </a>
          </mat-card-title>
          <mat-card-subtitle style="background-color: yellow ;">
            <strong>Q & A </strong>
          </mat-card-subtitle>
        </mat-card-header>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <h2 style="color:#808080;">
        Topics
      </h2>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <h2 style="color:#808080;">
        Languages
      </h2>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <h2 style="color:#808080;">
        Plateforms
      </h2>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <a href=#></a>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <h2 style="background-color: yellow ;">COVID-19</h2>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <h2 style="background-color: yellow ;">ENGLISH</h2>
      <h2>+3</h2>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <img src="/assets/whatsapp.png" style="width:30px; height:30px; margin-right: 5px;">

      <img src="/assets/telegram.png" style="width:30px; height:30px;">
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>

<br>
<mat-card class="botCard " style=" background-color: #F1F8F8; ">
  <mat-grid-list cols="7" rowHeight="80px">
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <img src="/assets/Covid.png" style="width:150px; height:150px; border-radius: 50%;">
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="2">
      <mat-card style=" background-color: #F1F8F8; ">
        <mat-card-header>
          <mat-card-title> <strong>COVY</strong></mat-card-title>
          <mat-card-subtitle style="background-color: yellow ;">
            <strong>Q & A </strong>
          </mat-card-subtitle>
        </mat-card-header>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <h2 style="color:#808080;">
      Topics
    </h2>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <h2 style="color:#808080;">
        Languages
      </h2>    </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <h2 style="color:#808080;">
          Plateforms
        </h2>
      </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <a href=#></a>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" >
      <h2 style="background-color: yellow ;">COVID-19</h2>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" >
      <h2 style="background-color: yellow ;">ENGLISH</h2>
      <h2>+3</h2>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" >
  <img src="/assets/whatsapp.png" style="width:30px; height:30px; margin-right: 5px;">

  <img src="/assets/telegram.png" style="width:30px; height:30px;">
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
