<div style="width: 90%; margin: 50px;">
<mat-card class="botCard " style=" background-color: rgb(255, 255, 255); ">
  <mat-grid-list cols="7" rowHeight="50px" rows="3">
    <mat-grid-tile [colspan]="1" [rowspan]="3">
      <img src="/assets/Covid.png" style="width:150px; height:150px; border-radius: 50%;">
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="3">
    </mat-grid-tile>

    <mat-grid-tile [colspan]="3" [rowspan]="3">
      <mat-card style=" background-color: white; ">
        <mat-card-header>
          <mat-card-title>
            <h1 style="font-size:xx-large "><strong> COVY</strong></h1>
          </mat-card-title>
          <mat-card-subtitle>
            <h2 style="background-color: yellow;"> Q & A</h2>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h2 style="color: #808080; font-size: large;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> Keeps you inform about symptoms
            treatments and guidelines regarding COVID-19.
          </h2>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="2" [rowspan]="2">
      <span style=" width: 30px;
                            height : 30px;
                            background-color: rgb(253, 203, 110);
                            padding: 20px">
        <h1 style="font-size: 300%;"> 5 </h1>
      </span>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <button mat-icon-button>
        <mat-icon>thumb_up</mat-icon>
      </button>
      <h4 style="margin: 5px;"> Vote Up </h4>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
</div>
